:root {
  font-family: Helvetica, Arial, sans-serif;
}

html {
  font-size: 175%;
  font-weight: 300;
  line-height: 1.3;
}

body {
  display: flex;
  align-items: center; /* 设置高度后该属性才能显示 */
  justify-content: center;
  height: 100vh; /* vh 可视范围的高度，100vh = 100%可视高度 */
  margin: 0;
  background-image: linear-gradient(230deg, #74ebd5, #acb6e5);
}

/* 将button选择器的默认值修改掉 */
input,
textarea,
button {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  appearance: none;
  text-align: left;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}

.calculator {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 15em;
  border-radius: 12px;
  overflow: hidden; /* 该属性隐藏超出圆角的部分*/
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15); /* rgba最后一个参数为透明度 */
}

.calculator__display {
  text-align: right;
  padding: 0.5em 0.75em;
  font-size: 1.7em;
  color: #ffffff;
  background-color: #222222;
}

.calculator__keys {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr); /* 设置网格的列数，repeat函数用来设置重复的值，fr用于等分剩余空间(与flex相似) */
}

.calculator__keys > * {
  position: relative;
  padding: 0.5em 1.25em;
  text-align: center;
  background-color: #ffffff;
}

.calculator__keys > *:active::before,
.calculator__keys > .ispressed::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  content: '';
  opacity: 0.3;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5) inset;
  /* inset将外部阴影转换为快内部阴影*/
  /* 阴影透明度要大于背景透明度，这样点击之后会有环绕感*/
}

.key--operator {
  background-color: #eeeeee;
}

.key--equal {
  /* grid-column属性是grid-column-start和grid-column-end的合并简写形式，
   * grid-row属性是grid-row-start属性和grid-row-end的合并简写形式。
   */
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 4;
  grid-row: 2 / span 4; /* 从第2行开始，跨越4个表格，span可省略*/
  background-image: linear-gradient(to bottom, #fe886a, #ff7033);
}